.container-fluid{
  background-image: url(https://th.bing.com/th/id/R.c5077d8b192096e430f9c0f85be1d2bb?rik=kdkLb9Tjvajchg&pid=ImgRaw&r=0); 
  background-repeat: no-repeat;
  background-size: cover;
}
  
  .slide-in {
    transform: translateX(-100%);
    animation: slideIn 2s forwards;
  }
  
  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }
  
  .bounce {
    transform: translateY(100%);
    animation: slideIn 2s forwards;
  }
