 .discord-navbar {
  padding: 5px;
  position: fixed;
  width: 100vw;
   overflow-x: hidden;
} 

.login-link {
  font-weight: bold;
  border: none;
  padding: 8px 22px;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}

.navbar-toggler-white {
  border: none;
}

.navbar-toggler-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.color-change {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  50% {
    color: white;
  }
  100% {
    color: rgb(8, 95, 121);
  }
  /* 50% {
    color: rgb(3, 77, 3);
  }
  75% {
    color: orange;
  }
  100% {
    color: rgb(76, 42, 42);
  } */
}
